/**
 * @name Fate of Astolfo
 * @author TereruNaYo
 * @version auto updates
 * @description sex
 * @source https://vsthemes.org/en/skins/discord/48426-sudba-apokrif-astolfo.html
 * @authorLink https://vsthemes.org/user/TereruNaYo/
 * @authorId 65141
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.1;
    --messagetransparency: 0.35;
    --guildchanneltransparency: 0.4;
    --memberlistransparency: 0.15;
    --accentcolor: 238,145,221;
    --background: url("https://vsthemes.org/uploads/posts/2021-12/1640204598_deerc8swaaaqxnm.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}